@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --c_background: #FFFFFF;
  --c_header: #96ce7a;
  --c_footer: #96ce7a;
  --c_button: #ced4da;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--c_background);
  font-size: 14px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: var(--c_header);
  padding: 5px 5px;
}

/* Style the content */
.content {
  width: 98%;
  margin: 0 auto;
  background-color: var(--c_background);
  padding: 10px 30px 20px;
  margin-top: 20px;
  margin-bottom: 70px;
  min-height: 500px;
  }

/* Style the footer */
.footer {
  background-color: var(--c_footer);
  padding: 5px;
  margin: 0 auto;
  text-align: right;
  margin-top: 20px;
}

.navbar {
  background-color: var(--c_header);
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: black;
}

b {
  color: white;
}

b:hover {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li.dropdown {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.add_padding {
  padding: 5px;
}

.change_color {
  background-color: var(--c_header);
  border-color: var(--c_header);
  font-weight: bold;
}
.change_color:hover {
  background-color: var(--c_button);
  border-color: var(--c_button);
}

label {
  font-weight: bold;
  font-size: 18px;
}

.box {
  border: solid 1px var(--c_button);
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.normal_font {
  font-weight: normal;
  font-size: 16px;
}

.change_color_font {
  font-weight: bold;
  color: white
}

.change_color_font:hover {
  font-weight: bold;
  color: white
}

.right {
  margin-right: 5px;
}
