{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block topnav %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1> Editar Usuario </h1>
  <form action="{{ url_for('users_update') }}" method="POST">
    <div class="form-group add_padding">
      <label for="first_name">Nombre</label>
      <input class="form-control" type="text" id="first_name" name="first_name" placeholder="Ingrese su nombre" value="{{ user.first_name }}" required>
    </div>

    <div class="form-group add_padding">
      <label for="last_name">Apellido</label>
      <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Ingrese su apellido" value="{{ user.last_name }}" required>
    </div>

    <div class="form-group add_padding">
      <label for="telephone">Teléfono</label>
      <input class="form-control" type="text" id="telephone" name="telephone" placeholder="Ingrese su teléfono" value="{{ user.telephone }}" required>
    </div>

    <div class="form-group add_padding">
      <label for="location">Sede de preferencia</label>
      <select class="form-control" id="location" name='location'>
        {% for l in locations %}
          {% if l.id != 1 %}
            {% if l.id == user.location_id %}
              <option value="{{ l.id }}" selected>{{ l.name }}</option>
            {% else %}
              <option value="{{ l.id }}">{{ l.name }}</option>
            {% endif %}
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <br>

    <input type="submit" class="btn btn-success change_color" value="MODIFICAR">
    <button type="reset" class="btn btn-success change_color" >LIMPIAR</button>
  </form>
{% endblock %}
