{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block topnav %}
  {{ super() }}
{% endblock %}
{% block content %}
  <button type="button" class="btn btn-success change_color"><a class="change_color_font" href="{{ url_for('appointment_new') }}" style="text-decoration:none" >PEDIR TURNO</a></button>
  <hr>
  <h2>Lista de turnos</h2>
  <!--Filtro-->
  <form action="{{ url_for('appointmentfilter') }}" method='POST'>
    <div class="form-group add_padding">
      <p>
        <label for="estado">Filtrar por estado:</label>
        <select class="form-control" id="estado" name='estado'>
          <option value='Todos'>Todos</option>
          <option value='Aceptados'>Aceptados</option>
          <option value='Solicitados'>Solicitados</option>
          <option value='Cerrados'>Cerrados</option>
        </select>
        <br>
        <button type="submit" name="filtrar" class="btn btn-success change_color" >FILTRAR</button>
      </p>
    </div>
  </form>
  <div class="table-responsive  table-bordered">
    <table class="table" id="users">
      <thead>
        <tr>
          <th scope="col">Vacuna</th>
          <th scope="col">Fecha</th>
          <th scope="col">Estado</th>
          <th scope="col">Comprobante</th>
          <th scope="col">Cancelar Turno</th>
        </tr>
      </thead>
      <tbody>
        {% for appoint, state, path in appoint_list %}
        <tr>
          <td>{{ appoint.vaccine_name }}</td>
          <td>{{ appoint.date }}</td>
          <td>{{ state.name }}</td>
          {% if (appoint.state_id == 5) %}
          <td><button type="button" class="btn btn-success change_color"><a href="{{ path }}"  download="Vacunassist_Comprobante">DESCARGAR COMPROBANTE</a></button></td>
          {% else %}
          <td>No disponible</td>
          {% endif %}
          {% if ((appoint.state_id == 2) or (appoint.state_id == 1)) %}
          <td><button type="button" class="btn btn-success change_color"><a class="change_color_font" href="{{ url_for('appointment_cancel', appointment_id=appoint.id) }}" style="text-decoration:none">CANCELAR</a></button> </td>
          {% else %}
          <td>No disponible</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}