{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block topnav %}
  {{ super() }}
{% endblock %}
{% block content %}
  <button type="button" class="btn btn-success change_color"><a class="change_color_font" href="{{ url_for('appointment_new') }}" style="text-decoration:none" >PEDIR TURNO</a></button>
  <hr>
  <h2>Lista de turnos</h2>
  <form>Filtro</form>
  <div class="table-responsive  table-bordered">
    <table class="table" id="users">
      <thead>
        <tr>
          <th scope="col">Vacuna</th>
          <th scope="col">Fecha</th>
          <th scope="col">Estado</th>
          <th scope="col">Comprobante</th>
        </tr>
      </thead>
      <tbody>
        {% for appoint, state, vac in appoint_list(session["user_id"]) %}
        <tr>
          <td>{{ vac.name }}</td>
          <td>{{ appoint.creation_date }}</td>
          <td>{{ state.name }}</td>
          {% if (appoint.state_id == 5) %}
          <td><button type="button" class="btn btn-success change_color"><a class="change_color_font" href="{{ url_for('appointment_download') }}" style="text-decoration:none" >DESCARGAR COMPROBANTE</a></button> </td>
          {% else %}
          <td>No disponible</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}