{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block topnav %}
  {{ super() }}
{% endblock %}
{% block content %}
  {% if appoint_avalaible(session["user_id"]) %}
  <h2>Solicite un Turno</h2>
  <form action="{{ url_for('appointment_create') }}" method="POST">
    <div class="form-group add_padding box">
      <div class="row">
        <div class="form-group col">
          <label class="normal_font" for="vaccine">Vacuna contra:</label>
          <select class="form-control" id="vaccine" name='vaccine'>
            {% if not is_elder(session["user_id"]) %}
            {% if not have_vaccine(session["user_id"], "Fiebre Amarilla") %}
            {% if not have_active_appointment(session["user_id"], "Fiebre Amarilla") %}
            <option value="Fiebre Amarilla">Fiebre amarilla</option>
            {% endif %}
            {% endif %}
            {% endif %}
            {% if not have_gripe_lastyear(session["user_id"]) %}
            {% if not have_active_appointment(session["user_id"], "Gripe") %}
            <option value="Gripe">Gripe</option>
            {% endif %}
            {% endif %}
            {% if not have_vaccine(session["user_id"], "Covid 19 Primera Dosis") %}
            {% if not have_active_appointment(session["user_id"], "Covid 19 Primera Dosis") %}
            <option value="Covid 19 Primera Dosis">Covid 19 (Primera dosis)</option>
            {% endif %}
            {% endif %}
            {% if not have_vaccine(session["user_id"], "Covid 19 Segunda Dosis") %}
            {% if not have_active_appointment(session["user_id"], "Covid 19 Segunda Dosis") %}
            {% if have_vaccine(session["user_id"], "Covid 19 Primera Dosis") %}
            {% if covid2_avalaible(session["user_id"]) %}
            <option value="Covid 19 Segunda Dosis">Covid 19 (Segunda dosis)</option>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
          </select>
        </div>
        <div class="form-group col">
          <label class="normal_font" for="date">Ingrese la fecha deseada</label>
          <input type="date" class="form-control" id="date" name="date" value="">
        </div>
      </div>
    </div>
    <br>
    <input type="submit" class="btn btn-success change_color" value="Crear">
  
  </form>
  {% else %}
    <h2>No tiene turnos para pedir.</h2>
    <br>
    <button class="btn btn-secondary"><a class="change_color_font" href="{{ url_for('appointments') }}" style="text-decoration: none;">VOLVER</button></button>
  {% endif %}
{% endblock %}