{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block topnav %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h2>Solicite un Turno</h2>
  <form action="{{ url_for('appointment_create') }}" method="POST">
    <div class="form-group add_padding box">
      <div class="row">
        <div class="form-group col">
          <label class="normal_font" for="vaccine">Vacuna contra:</label>
          <select class="form-control" id="vaccine" name='vaccine'>
            <option value="Fiebre Amarilla">Fiebre amarilla</option>
            <option value="Gripe">Gripe</option>
            <option value="Covid 19 Primera Dosis">Covid (Primera dosis)</option>
            <option value="Covid 19 Segunda Dosis">Covid (Segunda dosis)</option>
          </select>
        </div>
        <div class="form-group col">
          <label class="normal_font" for="date">Ingrese la fecha deseada</label>
          <input type="date" class="form-control" id="date" name="date" value="">
        </div>
      </div>
    </div>
    <br>
    <input type="submit" class="btn btn-success change_color" value="Crear">
  
  </form>
{% endblock %}